/** ********** Fonts ********** **/
* {
  font-family: monospace;
  font-size: 14pt;
  color: #cdd6f4;
  background-color: rgba(30, 30, 46, 0.5);
}

/** ********** Main Window ********** **/
window {
  background-color: #1e1e2e;
}

/** ********** Buttons ********** **/
button {
  background-color: rgba(30, 30, 46, 0.5);
  border: none;
  /* border: 2px solid #282838; */
  /* border-radius: 20px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus {
  background-color: #cba6f7;
  color: #1e1e2e;
}

button:hover {
  background-color: rgba(49, 50, 68, 0.1);
}

/** ********** Icons ********** **/
#lock {
  background-image: image(url("icons/lock.svg"),
      url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.svg"),
      url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.svg"),
      url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.svg"),
      url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.svg"),
      url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.svg"),
      url("/usr/share/wlogout/icons/reboot.png"));
}
