@import "./default.css";

* {
  font-family: "Maple Mono NF CN";
  font-weight: bold;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

@keyframes blink_red {
  to {
    color: @surface0;
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery,
#cava,
#clock,
#cpu,
#custom-notification,
#custom-powermenu,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#workspaces{
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

#clock {
  color: @yellow;
}

#cpu {
  color: @yellow;
}

#custom-launcher {
  color: @rosewater;
}

#custom-notification {
  color: #dfdfdf;
  padding: 0px 5px;
  border-radius: 5px;
}

#custom-powermenu {
  color: @red;
}

#idle_inhibitor {
  color: @blue;
}

#memory {
  color: @green;
}

#network {
  color: @blue;
}

#network.disconnected {
  background-color: @surface0;
  color: @text;
}

#pulseaudio {
  color: @lavender;
}

#temperature {
  color: @teal;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#window {
  color: @mauve;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  color: @peach;
}

#workspaces button.persistent {
  color: @surface1;
  border-radius: 10px;
}

#workspaces button.urgent {
  border-radius: 0px;
  color: @red;
}

#workspaces button:hover {
  border-radius: 10px;
  padding-left: 2px;
  padding-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  color: @overlay0;
  background-color: @surface0;
}

.modules-center {
  background: @base;
  border: 0.5px solid @overlay0;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 10px;
}

.modules-left {
  background: @base;
  border: 1px solid @blue;
  padding-right: 15px;
  padding-left: 2px;
  border-radius: 10px;
}

.modules-right {
  background: @base;
  border: 1px solid @blue;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
}

tooltip label {
  color: #cad3f5;
  margin-right: 5px;
  margin-left: 5px;
}

tooltip {
  background: #1e1e2e;
  border-radius: 8px;
}

window#waybar {
  transition-duration: 0.5s;
  transition-property: background-color;
  background: transparent;
  border-radius: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}
