output "DP-3" {
  scale 1.25
  transform "normal"
  mode "2560x1440@179.998"
  position x=0 y=0
}

output "HDMI-A-2" {
  scale 1.25
  transform "90"
  mode "1920x1080@144.000"
}

// spawn-at-startup "clash-nyanpasu"
