{
  "printWidth": 80,
  "trailingComma": "all",
  "proseWrap": "never",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson"
  ],
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true
}
