include "./windowrules.kdl"
include "./keybind.kdl"
include "./niri-hardware.kdl"

input {
    keyboard {
        xkb {
        }
    }

    touchpad {
        dwt
        natural-scroll
    }

    mouse {
        accel-speed -0.5
        accel-profile "flat"
    }

    trackpoint {

    }
}

layout {
    gaps 10

    center-focused-column "never"
    background-color "#1a1b26"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 4
        active-color "#7fc8ff"
        inactive-color "#ffffff00"
        active-gradient from="#f00f" to="#0f05" angle=45 in="oklch longer hue"
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        on
        draw-behind-window false
        softness 40
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
overview {
    backdrop-color "#1a1b26"
    workspace-shadow {
        softness 50
        spread 20
        offset x=0 y=10
        color "#0007"
    }
}

prefer-no-csd
hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // Uncomment to turn off all animations.
    // off
}
include "./noctalia.kdl"
spawn-at-startup "noctalia-shell"
